{% extends 'base.html.twig' %}

{% block body %}

    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('css/register.css') }}">
    {% endblock %}

    {{ form_start(sortieForm) }}
    {{ form_widget(sortieForm) }}
    <button>Créer une sortie</button>
    <button>Publier la sortie</button>
    <button>Annuler</button>
    {{ form_end(sortieForm) }}
{% endblock %}

{% block title %}

{% endblock %}