{% extends 'base.html.twig' %}

{% block title %}Filtrer les sorties{% endblock %}

    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('css/profil.css') }}">
    {% endblock %}

{% block body %}
    <br>
    <h2>Filtrer les sorties</h2>
    <br>

        {{ form_start(filterForm) }}
        {{ form_widget(filterForm) }}
        {{ form_end(filterForm) }}
        <button type="submit" class="btn">Rechercher</button>
        {{ form_end(filterForm) }}
    <br>
    <h2>Résultats du filtre</h2>
    <br>

{% endblock %}