{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ sortie.nom }}</h1>
    <p>Date de début: {{ sortie.datedebut|date('d/m/Y H:i') }}</p>
    <p>Description: {{ sortie.descriptioninfos }}</p>

    {% if app.user %}
        {% if not sortie.participants|filter(participant => participant == app.user) %}
            <a href="{{ path('inscription_sortie', { 'id': sortie.id }) }}" class="btn btn-primary">S'inscrire</a>
        {% else %}
            <a href="{{ path('desinscription_sortie', { 'id': sortie.id }) }}" class="btn btn-secondary">Se désinscrire</a>
        {% endif %}
    {% endif %}
{% endblock %}