{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} | Notre sélection, pour vous !{% endblock %}

{% block body %}

    {# read and display all flash messages #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <main>
        <h1>Notre sélection, pour vous !</h1>

        {# -------------------- Afficher le tableau sans les filtres -------------------- #}
        {# -------------------- utilise SortieController / SortieRepository -------------------- #}

        <h2>Toutes les sorties que nous organisons :</h2>
        <table>
            <thead>
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clôture</th>
                <th>Inscrits/places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
            </thead>

            <tbody>
                {% for sortie in sorties %}
                <tr>
                    <td>{{ sortie.nom }}</td>
                    <td>{{ sortie.datedebut | date('d/m/Y') }}</td>
                    <td>{{ sortie.datecloture | date('d/m/Y') }}</td>
                    <td>{{ sortie.nbinscriptionsmax }} / !!!</td>
                    <td>!!!</td>
                    <td>!!!</td>
                    <td>!!!</td>
                    <td>!!!</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <li><a href="{{ path('creation_sorties') }}" title="créer une sortie">Créer une sortie</a></li>

        {# -------------------- Filtrer par site -------------------- #}
        {# -------------------- utilise SiteController / SiteRepository / SiteType -------------------- #}

        {#
        <h2>Filtrer les sorties :</h2>

        <button class="btn btn-lg btn-primary" type="submit">
            Rechercher
        </button>

            {# rechercher si la personne connectée est dans les participants #}
                {# N'affiche que si c'est publié ou si l'on en est le owner #}

    </main>
{% endblock %}
